.meet-img img{
    animation: updown infinite .9s ease-in-out
}
@keyframes updown  {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(20px);
    }
    }